* { 

    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height:  100%;
}
.background{
    background-color: #fffefe;
    display: flex;
}

.info {
    height: 100vh;
    width: 55%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    background-color: #fffefe;

    h1{
        margin-top: 0;
    }
}

.imagen{
    height: 100vh;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
}

.titulo{
    color: #FDA428;
    font-family: "Sniglet", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5em;
    margin-bottom: 0 ;
}

p{
    font-family:sans-serif ;
    width: 60%;
}

.pedido {
    font-family:sans-serif ;
    a{
        text-decoration: none;
        color: #000000;
        font-weight: 600;
    }
    a:hover{
        color: #0db61b;
}

}